html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

h1 {
  color: #d1d1d1;
  font-family: Papyrus;
  font-size: 35pt;
  text-align: center;
  text-shadow: 3px 3px ##736c94;
  margin-left: auto;
  margin-right:auto;
  margin-top:5px;
}

h2 {
  color: #d1d1d1;
  font-family: Papyrus;
  font-size: 20pt;
  text-align: center;
  text-shadow: 3px 3px ##736c94;
  margin-left: auto;
  margin-right:auto;
  margin-top:10px;
}

html, body {
background-image: url("https://dianadomin.github.io/randomizer/randomizerfinal/fortuneimages/fortunebg.jpg");
}

canvas {
display: block;
border: auto;
border-color: ##1a1a1a;
border-width: 5px;
margin-left: 550px;
border-style: double;
border-color: #d1d1d1;
padding: 5px;



}

.randomizerButton{
  padding: 10px;
  background-color: ##f0f0f0;
  font-family: Papyrus;
  margin-left: 665px;
  margin-top: 20px;
  border: 10px;
  border-style: double;


}
